.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 0.5rem 1rem;
    color: white;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navbar-menu {
    display: flex;
    align-items: center; /* Align items vertically */
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar-menu li {
    display: flex;
    align-items: center;
    margin: 0 0.5rem;
  }
  
  .navbar-menu button, 
  .navbar-menu label {
    all: unset; /* Remove all default styles */
    box-sizing: border-box; /* Ensure consistent box model */
    display: flex;
    align-items: center; /* Ensure text is vertically centered */
    font-family: Arial; 

    line-height: 2.5rem; /* Ensure text is centered vertically */
    height: 2.5rem; /* Ensure a consistent height */
    padding: 0.5rem 1rem;
    background-color: #e9eff6;
    border: none;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0; /* Ensure no extra margin is added */
  }
  
  .navbar-menu button:hover, 
  .navbar-menu label:hover {
    background-color: #0056b3;
  }
  